@media print {
   body {
      color: #000;
      background: #fff;
      width:100%;
      font: 10pt "Times New Roman", Times, serif;
line-height: 1.3;
      }


}

@media screen {
	body { max-width: 1200px;}
}

