
body { max-width: 800px;}

h4
{
	margin-bottom: 3px;
	font-size: 1.3em;
}

h3 { font-size: 1.5em;
	font-weight:bold;}



input {
	background-color:#FFC;
	border: 1px solid #CC9;
	}

textarea {
	background-color:#FFC;
	border: 1px solid #CC9;
	width: 40em;
	max-width: 85%;
	height:8em;
	}

button {
	background-color:#CFC;
	font-weight: bold;
}

.likebutton {
	display:inline-block;
	background-color:#CFC;
	border:2px solid black;
	padding:4px;

}

.likebutton a {
	color:black;
	text-decoration:none;
}

.pithy
{
	font-style: italic;
	text-align: center;
}



.right { text-align: right; }
.left { text-align: left; }
.center {text-align: center; }

.red {color:red;}
.white {color:white;}
.black {color:black;}

.lt-grn { background-color: #D4FB79; }
.bg-lgrn { background-color: #D4FB79; }


.bg-black{
	background-color:black;
	padding:6px;
	height:100%;
}

.sectionhead {
	text-align:left;
	border-bottom: 1px solid black;
	margin-bottom: 3px;
	font-weight:bold;
}

.night {
	background-color:black;
	color:white;
}


table {
	border-collapse: collapse;
	border: 2px solid black;


}

table tr th {border-bottom: 2px solid black;}

table tr td
{
	border: 1px solid black;
	font-family: arial,san-serif;
	text-align: center;
	padding: 6px;
	vertical-align:top;

}
table.caltable {
	margin-left:2em;
	text-align:left;
	width:90%;
}
table.caltable>tbody>tr>:nth-child(1){
	width:25%;
	text-align:left;
}

tr.left td {text-align:left;}
tr td.center {text-align:center;}
tr.center td {text-aligh:center;}

tr.heads {line-height:0.8em;}
tr.heads td {
	font-weight:bold;
	font-size:.8em;
	text-align:center;
}

tr.border-bottom td
{
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 1px solid black;

}
 tr.borders td {
 	border-left; 1px solid black;
 	border-right; 1px solid black;
 	border-top; 1px solid black;
 	border-bottom; 1px solid black;
 }

 tr.no-bottom  td {
 	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom:0;
}

 tr.no-border  td {
 	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom:0;
}
table.col-border td, table.col-border th {
		border-left: 1px solid gray;
		border-right: 1px solid gray;
		border-top: 0;
		border-bottom: 0;
	}
.alt-gray tr:nth-child(even)  {
	background: #CCC;
}

.hidden {
	display:none;
}
.warn
{
	border: 2px solid black;
	text-align: left;

	padding: 6px;
	/* margin-bottom: 1em; */
	margin-left:2em;
	margin-right:2em;
	width: 85%;
	color: red;
	max-width: 85%;
}
.warn li {
	margin-bottom:1em;
}

.in2 { margin-left: 2em;
	margin-right: 0;
	width:90%;
	}

.inline {
	display:inline;
}

.today
{
	font-weight: bold;
	text-align: center;
	font-size: 1.5em;
}



.warnblock
{
	display: inline-block;
	font-weight: bold;
	margin-bottom: 6px;
	padding-left: 3em;
	padding-right: 3em;
}
table.header {
	background-color:black;

	width:85%;
}
table.header tr td {
	background-color:black;
	text-align:right;
	color:white;
	padding:3px;
	margin:0;
	}
table.header>img {
	margin:0;
}
